/* Styling for Personal Information Section */
#personal-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

#description {
  width: 40%;
  text-align: center;
}

#image-wrapper {
  width: 40%;
  display: flex;
  justify-content: center;
}

#profile-picture {
  border-radius: 50%;
  width: 400px; /* Change the width to your desired value */
  height: 400px;
}