.gitBtn {
  border: none;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: .4s;
  cursor: pointer;
  position: relative;
  background-color: rgb(31, 31, 31);
  overflow: hidden;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  padding: 0;
}

.text {
  display: none;
  color: rgb(255, 255, 255);
  font-weight: 600;
  opacity: 0;
  transition-duration: .4s;
}

.gitBtn:hover {
  width: 110px;
  transition-duration: .4s;
  border-radius: 30px;
}

.gitBtn:hover .text {
  display: inline;
  opacity: 1;
  transition-duration: .4s;
  padding-right: 20px;
}

.gitBtn:hover .svgIcon {
  opacity: 0;
  transition-duration: .3s;
}
