.instaBtn {
  border: none;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: .4s;
  cursor: pointer;
  position: relative;
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888',GradientType=1);
  overflow: hidden;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  padding: 0;
}

.text {
  display: none;
  color: rgb(255, 255, 255);
  font-weight: 600;
  opacity: 0;
  transition-duration: .4s;
}

.instaBtn:hover {
  width: 110px;
  transition-duration: .4s;
  border-radius: 30px;
}

.instaBtn:hover .text {
  display: inline;
  opacity: 1;
  transition-duration: .4s;
  padding-right: 15px;
}

.instaBtn:hover .svgIcon {
  opacity: 0;
  transition-duration: .3s;
}

