

/* styles.css */
.light-theme {
    --link-color: #c429c7;
    --bg-color: #dedede;
    --text-color: #000000;
    --navbar-bg-color: #363636;
    --navbar-text-color: #dedede;
    --navbar-hover-bg-color: #424242;
    --navbar-hover-text-color: #ffffff;
    --navbar-active-bg-color: #595959;
    
}

.dark-theme {
    --link-color: purple;
    --bg-color: #0d1c3f;
    --text-color: #dedede;
    --navbar-bg-color: #363636;
    --navbar-text-color: #dedede;
    --navbar-hover-bg-color: #424242;
    --navbar-hover-text-color: #ffffff;
    --navbar-active-bg-color: #595959;
}

a {
    text-decoration: none;
}

.link {
    color: var(--link-color);
    text-decoration: underline;
}

body {
    font-family: Arial, sans-serif;
    padding-top: 0;
    margin: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
}

body > *:not(#navbar) {
    padding-top: 0;
    margin-left: 72px;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
    overflow: hidden;
    background-color: var(--navbar-bg-color);
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

#navbar ul li a {
    padding: 14px 16px;
    text-decoration: none;
    display: block;
    color: var(--navbar-text-color);
}

#navbar ul li a:hover {
    background-color: var(--navbar-hover-bg-color);
    color: var(--navbar-hover-text-color); 
    border-radius: 5px; 
}

#navbar ul li a.active {
    background-color: var(--navbar-active-bg-color); 
    color: var(--navbar-hover-text-color); 
    border-radius: 5px;
}

#navbar ul li a.active:hover {
    background-color: var(--navbar-active-bg-color);
    color: var(--navbar-hover-text-color);
    border-radius: 5px;
  }

#scrollButton {
    color: var(--text-color);
}

#profile {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

#information {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contacts {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#links {
    margin-left: -30px;
    display: flex;
    gap: 10px;
    list-style: none;
}

.icon-button {
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.4s;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
}

.icon-button:hover {
    width: 120px;
    border-radius: 25px;
}

.icon-button span {
    display: none;
    text-align: center;
    padding-right: 20px;
}

.icon-button:hover span {
    display: block;
    color: #fff;
    width: 100%;
}

.icon-button i {
    font-size: 26px;
    color: white;
    transition: opacity 0.3s;
}

.icon-button:hover i {
    opacity: 0;
}

.linkedin {
    background-color: #0A66C2;
}

.github {
    background-color: rgb(31, 31, 31);
}

.instagram {
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
}

.scrollBtn {
    width: 140px;
    height: 56px;
    overflow: hidden;
    border: none;
    color: #000000;
    background: none;
    position: relative;
    padding-bottom: 2em;
}

.scrollBtn > div,
.scrollBtn > svg {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
}

.scrollBtn:before {
    content: "";
    position: absolute;
    height: 2px;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: scaleX(0);
    transform-origin: bottom right;
    background: currentColor;
    transition: transform 0.25s ease-out;
}

.scrollBtn:hover:before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.scrollBtn .clone > *,
.scrollBtn .words > * {
    opacity: 1;
    font-size: 1.3rem;
    transition: 0.2s;
    margin-left: 4px;
}

.scrollBtn .clone > * {
    transform: translateY(60px);
}

.scrollBtn:hover .clone > * {
    opacity: 1;
    transform: translateY(0px);
    transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.scrollBtn:hover .words > * {
    opacity: 1;
    color: #000000;
    transform: translateY(-60px);
    transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.scrollBtn:hover .clone > :nth-child(1) {
    transition-delay: 0.15s;
}

.scrollBtn:hover .clone > :nth-child(2) {
    transition-delay: 0.2s;
}

.scrollBtn:hover .clone > :nth-child(3) {
    transition-delay: 0.25s;
}

.scrollBtn:hover .clone > :nth-child(4) {
    transition-delay: 0.3s;
}

.scrollBtn svg {
    width: 20px;
    right: 0;
    top: 50%;
    transform: translateY(-50%) rotate(-50deg);
    transition: 0.2s ease-out;
}

.scrollBtn:hover svg {
    transform: translateY(-50%) rotate(-90deg);
}

#scrollButton {
    position: fixed;
    bottom: 0px;
    right: 10px;
}

@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}

.theme-switch-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.theme-switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.theme-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #73C0FC;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: 0.4s;
}

.slider i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    height: 50%;
    font-size: 0.9em;
    transition: 0.4s;
}

.slider i.fa-moon {
    right: 50%;
    text-align: center;
    opacity: 0;
    color: #73C0FC;
}

.slider i.fa-sun {
    left: 50%;
    text-align: center;
    opacity: 1;
    color: yellow;
}

input:checked + .slider {
    background-color: #183153;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

input:checked + .slider i.fa-moon {
    opacity: 1;
}

input:checked + .slider i.fa-sun {
    opacity: 0;
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#note {
    height: 15vh;
}

#personal-info {
    display: flex;
    justify-content: space-around;
    height: 70vh;
    flex-wrap: wrap;
}

#description {
    align-items: start;
    width: 60%;
    text-align: left;
}

#description-header {
    text-align: center;
}

#image-wrapper {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 300px;
}

#profile-picture {
    max-width: 60%;
    border-radius: 50%;
    display: flex;
    
}

@media screen and (min-width: 1100px) {
    #description {
        width: 53%;
        padding-left: 6%;
    }

    #image-wrapper {
        width: 35%;
        padding-right: 6%;
    }

    #profile-picture {
        max-width: 350px;
    }
}

#aboutme {
    height: 40vh;
}


