

/*------------------------------- styles.css -------------------------------*/
/* Themes */
.light-theme {
    --link-color: #c429c7;
    --link-highlight-color: #ff3838;
    --bg-color: #dedede;
    --text-color: #0d1c3f;
    --navbar-bg-color: #363636;
    --navbar-text-color: #dedede;
    --navbar-hover-bg-color: #424242;
    --navbar-hover-text-color: #ffffff;
    --navbar-active-bg-color: #595959;
    
}

.dark-theme {
    --link-color: purple;
    --link-highlight-color: #c429c7;
    --bg-color: #0d1c3f;
    --text-color: #dedede;
    --navbar-bg-color: #363636;
    --navbar-text-color: #dedede;
    --navbar-hover-bg-color: #424242;
    --navbar-hover-text-color: #ffffff;
    --navbar-active-bg-color: #595959;
}


/* General */
a {
    text-decoration: none;
}

.link {
    text-decoration: underline;
    color: var(--link-color);
    font-weight: bold;
}

.link:hover {
    color: var(--link-highlight-color);
}

body {
    font-family: Arial, sans-serif;
    padding-top: 0;
    margin: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
}

body > *:not(#navbar) {
    padding-top: 0;
    margin-left: 72px;
}


/* Navbar */
#navbar {
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
    overflow: hidden;
    background-color: var(--navbar-bg-color);
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

#navbar ul li a {
    padding: 14px 16px;
    text-decoration: none;
    display: block;
    color: var(--navbar-text-color);
    white-space: nowrap;
}

#navbar ul li a:hover {
    background-color: var(--navbar-hover-bg-color);
    color: var(--navbar-hover-text-color); 
    border-radius: 5px; 
}

#navbar ul li a.active {
    background-color: var(--navbar-active-bg-color); 
    color: var(--navbar-hover-text-color); 
    border-radius: 5px;
}

#navbar ul li a.active:hover {
    background-color: var(--navbar-active-bg-color);
    color: var(--navbar-hover-text-color);
    border-radius: 5px;
}

#profile-container,
#information-container,
#contacts-container {
    flex: 1;
    display: flex;
}

#profile-container{
    justify-content: flex-start;
}

#information-container{
    justify-content: center;
}

#contacts-container{
    justify-content: flex-end;
}

#profile {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

#information {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 2px;
}

#contacts {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 2px;
}


/* Theme Toggle Switch */
.theme-switch-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.theme-switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.theme-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #73C0FC;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: 0.4s;
}

.slider i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    height: 50%;
    font-size: 0.9em;
    transition: 0.4s;
}

.slider i.fa-moon {
    right: 50%;
    text-align: center;
    opacity: 0;
    color: #80c8ff;
}

.slider i.fa-sun {
    left: 50%;
    text-align: center;
    opacity: 1;
    color: yellow;
}

input:checked + .slider {
    background-color: #0d1c3f;
}

input:checked + .slider:before {
    transform: translateX(25.5px);
}

input:checked + .slider i.fa-moon {
    opacity: 1;
}

input:checked + .slider i.fa-sun {
    opacity: 0;
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/* Dropdown Menu */
#hamburger {
    display: none;
    color: var(--navbar-text-color);
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
    cursor: pointer;
    font-size: 20px;
}

#dropdown-container {
    position: absolute;
    display: none;
    top: 46px;
    right: 0;
    background-color: rgba(54, 54, 54, 0.8); 
    width: 170px; /* Adjust width as needed */
    height: 281px; 
    overflow-y: auto;
    z-index: 2; /* On top of the content */
    backdrop-filter: blur(2px); /* Add backdrop-filter for better transparency */
}

#dropdown-content {
    flex-direction: column;
}

#dropdown-content li{
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3); /* Optional: Add a separator */
}

#dropdown-content li a{
    padding: 10px;
    font-size: 16px; /* Adjust text size as needed */
    text-align: center;
}

#dropdown-content li:last-child{
    border-bottom: none;
}

#dropdown-container.open {
    display: block;
}

@media screen and (max-width: 800px) {
    #information-container,
    #contacts-container {
        display: none;
    }

    #hamburger {
        display: flex;
    }
}


/* Learn More Button */
.learn-more-btn {
    width: 150px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: text-decoration 0.2s, color 0.2s;
    transition-duration: 0.4s;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: var(--navbar-bg-color);
    color: var(--navbar-text-color);
    border-radius: 5px;
}

.learn-more-btn:hover .learn-more-text{
    text-decoration: underline;
    text-decoration-color: white;
}

.learn-more-btn .fas.fa-arrow-right{
    transition: 0.2s linear;
    animation: attention 1.2s linear infinite;
}

.learn-more-btn:hover .fas.fa-arrow-right{
    transform: translateX(40%) rotate(90deg);
    animation: none;
}

@keyframes attention {
    0%, 100%{
      transform: translateX(20%);
    }
  
    50% {
      transform: translateX(60%);
    }
}


/* Links */
#links {
    margin-left: -30px;
    display: flex;
    gap: 10px;
    list-style: none;
}

.icon-button {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.4s;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
}

.icon-button:hover {
    width: 120px;
    border-radius: 25px;
}

.icon-button span {
    display: none;
    text-align: center;
    padding-right: 24px;
}

.icon-button:hover span {
    display: block;
    color: #fff;
    width: 100%;
}

.icon-button i {
    font-size: 26px;
    color: white;
    transition: opacity 0.3s;
}

.icon-button:hover i {
    opacity: 0;
}

.linkedin {
    background-color: #0A66C2;
}

.github {
    background-color: rgb(31, 31, 31);
}

.instagram {
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
}


/* Scroll Button */
#scrollButton {
    color: var(--text-color);
}

.scrollBtn {
    width: 140px;
    height: 56px;
    overflow: hidden;
    border: none;
    color: #000000;
    background: none;
    position: relative;
    padding-bottom: 2em;
}

.scrollBtn:hover {
    cursor: pointer;
}

.scrollBtn > div,
.scrollBtn > svg {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
}

.scrollBtn:before {
    content: "";
    position: absolute;
    height: 2px;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: scaleX(0);
    transform-origin: bottom right;
    background: currentColor;
    transition: transform 0.25s ease-out;
}

.scrollBtn:hover:before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.scrollBtn .clone > *,
.scrollBtn .words > * {
    opacity: 1;
    font-size: 1.3rem;
    transition: 0.2s;
    margin-left: 4px;
}

.scrollBtn .clone > * {
    transform: translateY(60px);
}

.scrollBtn:hover .clone > * {
    opacity: 1;
    transform: translateY(0px);
    transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.scrollBtn:hover .words > * {
    opacity: 1;
    color: #000000;
    transform: translateY(-60px);
    transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.scrollBtn:hover .clone > :nth-child(1) {
    transition-delay: 0.15s;
}

.scrollBtn:hover .clone > :nth-child(2) {
    transition-delay: 0.2s;
}

.scrollBtn:hover .clone > :nth-child(3) {
    transition-delay: 0.25s;
}

.scrollBtn:hover .clone > :nth-child(4) {
    transition-delay: 0.3s;
}

.scrollBtn svg {
    width: 20px;
    right: 0;
    top: 50%;
    transform: translateY(-50%) rotate(-50deg);
    transition: 0.2s ease-out;
}

.scrollBtn:hover svg {
    transform: translateY(-50%) rotate(-90deg);
}

#scrollButton {
    position: fixed;
    bottom: 0px;
    right: 10px;
}

@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}


/* Body Styling */
    /* Home */
#note {
    height: 15vh;
}

#content {
    position: relative;
    z-index: 1;
}

#personal-info {
    display: flex;
    justify-content: space-around;
    height: 80vh;
    flex-wrap: wrap;
}

#description {
    align-items: start;
    width: 60%;
    text-align: left;
}

#description-header {
    text-align: center;
}

#image-wrapper {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 350px;
}

#profile-picture {
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    display: flex;
}

@media screen and (min-width: 1175px) {
    #description {
        width: 53%;
        padding-left: 6%;
    }

    #profile-picture {
        width: 350px;
        height: 350px;
    }
}

#aboutme {
    height: 60vh;
    padding-right: 150px;
}

    /* Contact Me */

#subject{
    padding-bottom: 5px;
}

#name,#email{
    width: 300px;
}

#message{
    width: 614px;
    max-width: 85vw;
}